<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store API Overview</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <img src="/images/itglogo.png" alt="Store Logo" style="max-width: 100px; margin-bottom: 20px;">
    <h1>Welcome to Store API</h1>
    <p>API to manage stores</p>
    <h2>Endpoints:</h2>
    <ul>
        <li><a href="/swagger-ui/index.html#/Authenticate" target="_blank"><strong>Authentication:</strong></a></li>
        <li><a href="/swagger-ui/index.html#/Categories" target="_blank"><strong>Categories:</strong></a></li>
        <li><a href="/swagger-ui/index.html#/Products" target="_blank"><strong>Products:</strong></a></li>
    </ul>
    <p>Use Swagger for API documentation</p>
</div>
</body>
</html>
